<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <link rel="stylesheet" href="/static/supplier.css">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
   <body>
    <div class="container">
        <div class="text">Fill Billing Details</div>
        <form action="#", method="post">
           <div class="form-row">
              <div class="input-data">
                 <input name = "role_id" type="text" required>
                 <div class="underline"></div>
                 <label >Role ID</label>
              </div>
              <div class="input-data">
                 <input name = "role_name" type="text" required>
                 <div class="underline"></div>
                 <label >Role Name</label>
              </div>
           </div>

           <div class="form-row">
              <div class="input-data">
                 <input name = "r_desc" type="text" required>
                 <div class="underline"></div>
                 <label >Role Description</label>
              </div>
           </div>
                 <div class="form-row submit-btn">
                    <div class="input-data">
                       <div class="inner"></div>
                       <input type="submit" value="Next">
                    </div>
                 </div>

        </form>
     </div>
   </body>
</html>