<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Popup Login Form Design</title>
      <link rel="stylesheet" href="/static/menu.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
   </head>
   <body>
      <div class="center">
         <div class="btn">
                  <div class="inner"></div>
                    <a href="{{ url_for('admin')}}">
        <button class="button">
            Admin Login Page
        </button>
    </a>
             </div>
                 <div class="btn">
                  <div class="inner"></div>
                    <a href="{{ url_for('staff')}}">
        <button class="button">
            Staff Login Page
        </button>
    </a>
               </div>



            </form>
         </div>
      </div>
   </body>
</html>