<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <link rel="stylesheet" href="/static/supplier.css">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
   <body>
    <div class="container">
        <div class="text">VIEW PRODUCT DETAILS</div>
        <form method="post">
        <div class="topnav" align="center">
            <input name ="search" type="text" placeholder="Search via PRODUCT ID or CATEGORY ID">
        </div>
            </br>
        </form>
        {% for row in product %}

        <div>
            <td><p><b>Product ID:</b> {{row.0}} </p></td>
        </div>
        <div>
            <td><p><b>Product Name:</b> {{row.1}} </p></td>
        </div>
        <div>
            <td><p><b>Description:</b> {{row.2}} </p></td>
        </div>
        <div>
            <td><p><b>Price:</b> {{row.3}} </p></td>
        </div>
        <div>
            <td><p><b>Quantity:</b> {{row.4}} </p></td>
        </div>
        <div>
            <td><p><b>Supplier ID:</b> {{row.5}} </p></td>
        </div>
         <div>
            <td><p><b>Category ID:</b> {{row.6}} </p></td>
        </div>
        </br>

        {% endfor %}
        </div>
          <div class="btn">
                  <div class="inner"></div>
                    <a href="{{ url_for ('menu')}}">
        <button class="button">
            Go Back
        </button>
    </a>
               </div>

     </div>
   </body>
</html>